.table{
    border: 0px solid #000;
    border-radius: 10px;
}
.row{
    border: 0px solid #000;
    border-radius: 10px;
    height: 30px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.d{
    border: 0px solid #000;
    width: 100px;
    text-align: left;
    font-family: sans-serif;
    text-indent: 5px;
}
.d1{
    width: 30px;
    border: 0px solid #000;
    color: #000;
}