
@media(max-width: 767px){
    .footer-col{
        width: 30%;
        margin-bottom: 30px;
    }
    .footer{
        width: 100%;
        height: fit-content;
    }
    .foot{
        width: 100%;
        margin-bottom: 0;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
    .footer{
        width: 100%;
        height: fit-content;
    }
    .foot{
        width: 100%;
        margin-bottom: 0;
    }
}