/*
|||||||||||||||||||||||||||||||||||||||
||            Kayodee,2023           ||
||               Visit               ||
||      http://avocarter.rf.gd       ||
|||||||||||||||||||||||||||||||||||||||
*/
*{
    padding: 0;
}
html, body{
    background-color: #040a22;
    /*display: flex;*/
    width: auto;
    height: auto;
}
.g-content{
    height: 960px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.img-container{
    height: 90%;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    display: flexbox;
}
img{
    width: 300px;
    height: 400px;
    padding: 5px;
    border-radius: 10px;
}
.glp-title{
    position: relative;
    text-align: center;
    font-family: "kalam", cursive;
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    padding-bottom: 0;
}
.glp-content{
    position: relative;
    text-wrap: wrap;
    text-justify: auto;
    /*left: 5%;
    top: 10px;*/
    font-family: 'Verdana', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    /*width: 90%;
    padding-top: 20px;*/
}

.g-home{
    width: 80px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
}
.g-home:hover{
    cursor: pointer;
    background-color: #040a22;
    z-index: 4;
    color:rgba(255, 255, 255, 0.99);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    z-index: 10000;
    color:rgba(255, 255, 255, 0.6);
}